.settings
.externalToolBuilders/
.idea/
/.classpath
/.project
target
/tools/node_modules
/www
/www/**/*
/www/*

./build
.bin/*
.bin/**
*/.bin/*
*/.bin/**
**/.bin/*
**/.bin/**
node_modules/**
node_modules/*
*/node_modules/*
*/node_modules/**
bower_components/**
*.log
.vscode
